.App {
  text-align: center;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.creatureDiv {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px gray;
  margin: 10px;
}

body, html {
  width: 100%;
}

.results-div {
  display: flex;
  flex-wrap: wrap;
}

.label {

}